.Narbar{
    display: flex;
    background-color: palegoldenrod;

    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    justify-content: space-between;
    a{
        text-decoration: none;
        padding-left: 30px;
    }
    .login{
 margin-right: 10px;
  
       
    }
}